# Set hidden files and sh scripts to default to unix line endings
# None of this wsl CRLF nonsense

*.bashrc text eol=lf
*.tmux.conf text eol=lf
*.zshrc text eol=lf
*.vimrc text eol=lf
*.gitconfig text eol=lf
*.sh text eol=lf
*.gitattributes text eol=lf
